/* 
https://www.mclibre.org/consultar/amaya/css/css-fuentes-web.html 
*/
@font-face {
  font-family: "Mystery Quest";
  src: url("mystery-quest.woff2");
}

@font-face {
    font-family: 'Anna';
    src: url('./AnnaVives/Anna.woff2') format('woff2'),
        url('./AnnaVives/Anna.woff') format('woff'),
        url('./AnnaVives/Anna.svg#Anna') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.h1-green {
	color: #25BDC1;
	font-family: 'Langar', cursive;
}

.h2-blue {
	color: blue;
	font-family: 'Anna', cursive;
}

.par-pink {
	color: pink;
	font-family: "Mystery Quest", cursive;
}

img {
  transition: all 1s ease;
  display: block;
  margin: 20px;
  float: left;
} 


.webfilter2:hover {
	-webkit-filter: sepia(100%);
}

.webfilter3:hover {
	-webkit-filter: contrast(4);
}
