@font-face {
    font-family: 'Anna';
    src: url('Anna.woff2') format('woff2'),
        url('Anna.woff') format('woff'),
        url('Anna.svg#Anna') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

